@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body{
    background-color: #ffffff;
    font-family: "poppins", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.navbar{
    background-color: #0C134F;

}
.nav-container{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.right-nav{
    position: sticky;
    width: 100%;
    height: fit-content;
    margin-left: 10px;
}

.left-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}

a{
    text-decoration: none;
    color:#ffffff;
    cursor: pointer;
}
a:hover{
    color:#6470dd;
}
ul{
    list-style: none;
}
ul li{
    margin: 20px;;
}
ol li{
    margin:10px;
}
ul li::before{
    content: "\2023";
    color:#FFD3B0;
    font-weight:bold;
    display:inline-block;
    width:1rem;
    margin-left: -1.3em;
}
/* button */
.btn-primary{
    background-color: #0C134F;
    border: 1px solid #9384D1;
}
.btn-primary:hover{
    background-color: #6470dd;
    border: 1px solid #0A4D68;
    transition: 0.3s;
}
.btn.btn-primary:active{
    background-color: #6470dd;
    border: 1px solid #263A29;
}


/* After fetching data CSS */

.btn-outline-primary {
    background-color: #ffffff;
    border: 1px solid #0C134F;
    color: #0C134F;
    text-decoration: white;
}

.btn-outline-primary:hover {
    background-color: #0C134F;
    border: 1px solid #0C134F;
    color: var(#ffffff);
    transition: 0.3s;
}

.btn.btn-outline-primary:active {
    background-color: var(#ECC9EE);
    border: 1px solid var(#ECC9EE);
    color: #ffffff;
}

.baseBlock {
    cursor: pointer;
    margin: 0px 0px 35px 0px;
    padding: 0 0 15px 0px;
    border-radius: 5px;
    overflow: hidden;
    background:#ffffff;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.baseBlock:hover {
    -webkit-transform: translate(0, -8px);
    -moz-transform: translate(0, -8px);
    -ms-transform: translate(0, -8px);
    -o-transform: translate(0, -8px);
    transform: translate(0, -8px);
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}

/* footer */
.footer{
    display:flex;
    justify-content: space-evenly;
    margin-top: auto;
    width: 100%;
    padding: 5px;
    background-color: darkgrey;
    color:#443e39;
    text-align: center;
}

.footer p{
    margin: 0;
}

.icon_container{
    display: flex;
    gap: 15px;
    font-size: 18px;
    cursor: pointer;
}

.icon:hover{
    color: #0b0a0a;
}

.tooltip{
    color: white;
    background-color: #0A4D68;
}

/* loader */

#loader{
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #ccc;
    border-right-color: #888;
    border-radius: 22px;
    -webkit-animation: rotate 1s infinite linear;
    position: absolute;
    left: 50%;
    top:50%;
}

@-webkit-keyframes rotate {
    100%{
        -webkit-transform: rotate(360deg);
    }
}

/* about page */

.about-page{
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 2rem;
}

.about-page img{
    max-width: 500px;
    align-self: center;
    border-radius: 50px;
    /* box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2); */

    /* box-shadow: #f20c0c; */

}

.about-page img:hover{
    /* scale: 1.2; */
    transition: 0.50s ease-out;
    /* transition-delay: 0.25s; */
    transform: scale(1.1) rotateZ(0deg);
    cursor: pointer;
    /* box-shadow: #0b0a0a; */
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);

}


.about-btn{
    padding: 8px 15px;
    border: none;
    transition: 0.2s ease-in-out;
    background-color: #0C134F;
    border-radius: 5px;
    color: #f9f9f9;
}
.about-btn:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    word-spacing: 2px;
    background-color: #6470dd;
}

.navbar-brand img{
    width: 180;
    height: 60;
}


/* contact page */

.contact-form{
    width: 100%;
    margin: 0;    
}

.contact-container{
    display: flex;
    justify-content: space-evenly;
    /* gap */
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contact-info{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1rem;
    /* background-color: yellow; */
}

.contact-btn{
    margin: 15px 0;
    background-color:#0C134F;
    border-radius: 5px;
    border: none;
    outline: none;
    color:#f9f9f9;
    width: 100%;
    margin: 1rem 0;
    font-size: 1.1rem;
}

.contact-btn:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    word-spacing: 2px;
    background-color: #6470dd;
}

.contact-info h3{
    font-size: 32px;
}

.form{
    max-width: 450px;
    background-color: whitesmoke;
    padding: 20px;
}

.form-input{
    padding: 0,5rem 0;
    text-align: center;
    border-radius: 5px;
    border: 0.1px solid rgb(111, 108, 108);
}

.form-row{
    display: flex;
    flex-direction: column;
}

.form-label{
    padding: 8px 0;
}

.form-textarea{
    height: 120px;
    border-radius: 5px;
    border: 0.1px solid rgb(111, 108, 108);
    text-align: center;
}





.carddesign{
    /* background-color: #d2f7c5;
    text-decoration: #ffffff; */
}

.card-body{
    /* background-color: #9da6f1; */
}
.overlay{
    /* background-color: #e31111; */
}
